<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.Lbs.Servlet.AdminLoginServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>AdminOrderServlet</servlet-name>
    <servlet-class>com.Lbs.Servlet.AdminOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminRegisterServlet</servlet-name>
    <servlet-class>com.Lbs.Servlet.AdminRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckSendServlet</servlet-name>
    <servlet-class>com.Lbs.Servlet.CheckSendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DriverLoginServlet</servlet-name>
    <servlet-class>com.Lbs.Servlet.DriverLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DriverOrderServlet</servlet-name>
    <servlet-class>com.Lbs.Servlet.DriverOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DriverRegisterServlet</servlet-name>
    <servlet-class>com.Lbs.Servlet.DriverRegisterServlet</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>ParkInfoServlet</servlet-name>
    <servlet-class>com.Lbs.Servlet.ParkInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ParkServlet</servlet-name>
    <servlet-class>com.Lbs.Servlet.ParkServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>SendClientServlet</servlet-name>
    <servlet-class>com.Lbs.Servlet.SendClientServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServerToYuntu</servlet-name>
    <servlet-class>com.Lbs.Servlet.ServerToYuntu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminDeleteServlet</servlet-name>
    <servlet-class>com.Lbs.Servlet.AdminDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminUpdateServlet</servlet-name>
    <servlet-class>com.Lbs.Servlet.AdminUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DriverUpdateServlet</servlet-name>
    <servlet-class>com.Lbs.Servlet.DriverUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DriverDeleteServlet</servlet-name>
    <servlet-class>com.Lbs.Servlet.DriverDeleteServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminOrderServlet</servlet-name>
    <url-pattern>/AdminOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminRegisterServlet</servlet-name>
    <url-pattern>/AdminRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckSendServlet</servlet-name>
    <url-pattern>/CheckSendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DriverLoginServlet</servlet-name>
    <url-pattern>/DriverLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DriverOrderServlet</servlet-name>
    <url-pattern>/DriverOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DriverRegisterServlet</servlet-name>
    <url-pattern>/DriverRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ParkInfoServlet</servlet-name>
    <url-pattern>/ParkInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ParkServlet</servlet-name>
    <url-pattern>/ParkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendClientServlet</servlet-name>
    <url-pattern>/SendClientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServerToYuntu</servlet-name>
    <url-pattern>/ServerToYuntu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminDeleteServlet</servlet-name>
    <url-pattern>/AdminDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminUpdateServlet</servlet-name>
    <url-pattern>/AdminUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DriverUpdateServlet</servlet-name>
    <url-pattern>/DriverUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DriverDeleteServlet</servlet-name>
    <url-pattern>/DriverDeleteServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
