<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>ustc.sse.water.lbs.server.servlets.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminOrderServlet</servlet-name>
    <servlet-class>ustc.sse.water.lbs.server.servlets.AdminOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminRegisterServlet</servlet-name>
    <servlet-class>ustc.sse.water.lbs.server.servlets.AdminRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckSendServlet</servlet-name>
    <servlet-class>ustc.sse.water.lbs.server.servlets.CheckSendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DriverLoginServlet</servlet-name>
    <servlet-class>ustc.sse.water.lbs.server.servlets.DriverLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DriverOrderServlet</servlet-name>
    <servlet-class>ustc.sse.water.lbs.server.servlets.DriverOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DriverRegisterServlet</servlet-name>
    <servlet-class>ustc.sse.water.lbs.server.servlets.DriverRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendClientServlet</servlet-name>
    <servlet-class>ustc.sse.water.lbs.server.servlets.SendClientServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServerToYuntu</servlet-name>
    <servlet-class>ustc.sse.water.lbs.server.servlets.ServerToYuntu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminUpdateServlet</servlet-name>
    <servlet-class>ustc.sse.water.lbs.server.servlets.AdminUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DriverUpdateServlet</servlet-name>
    <servlet-class>ustc.sse.water.lbs.server.servlets.DriverUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SolveOrderServlet</servlet-name>
    <servlet-class>ustc.sse.water.lbs.server.servlets.SolveOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeOrderStatus</servlet-name>
    <servlet-class>ustc.sse.water.lbs.server.servlets.ChangeOrderStatus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServerUpdateYuntu</servlet-name>
    <servlet-class>ustc.sse.water.lbs.server.servlets.ServerUpdateYuntu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderStatusToTwoServlet</servlet-name>
    <servlet-class>ustc.sse.water.lbs.server.servlets.OrderStatusToTwoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetParkingCurrentNumber</servlet-name>
    <servlet-class>ustc.sse.water.lbs.server.servlets.GetParkingCurrentNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminOrderServlet</servlet-name>
    <url-pattern>/AdminOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminRegisterServlet</servlet-name>
    <url-pattern>/AdminRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckSendServlet</servlet-name>
    <url-pattern>/CheckSendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DriverLoginServlet</servlet-name>
    <url-pattern>/DriverLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DriverOrderServlet</servlet-name>
    <url-pattern>/DriverOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DriverRegisterServlet</servlet-name>
    <url-pattern>/DriverRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendClientServlet</servlet-name>
    <url-pattern>/SendClientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServerToYuntu</servlet-name>
    <url-pattern>/ServerToYuntu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminUpdateServlet</servlet-name>
    <url-pattern>/AdminUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DriverUpdateServlet</servlet-name>
    <url-pattern>/DriverUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SolveOrderServlet</servlet-name>
    <url-pattern>/SolveOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeOrderStatus</servlet-name>
    <url-pattern>/ChangeOrderStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServerUpdateYuntu</servlet-name>
    <url-pattern>/ServerUpdateYuntu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderStatusToTwoServlet</servlet-name>
    <url-pattern>/OrderStatusToTwoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetParkingCurrentNumber</servlet-name>
    <url-pattern>/GetParkingCurrentNumber</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>